.wrapper {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: auto auto;
  width: 100%;
  height: 100%;
}

.bottom {
  grid-row: 2;
  height: 250px;
}

.top {
  grid-row: 1;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: auto;
  height: 250px;
}

.wrong-cards{
  display:flex;
  flex-direction: row;
}

.start-over {
  align-items: flex-start;
  background-color: #006699;
  border-radius: 20px;
  color: #ffffff;
  display: inline-block;
  font-family: Arial;
  font-size: 13.3333px;
  font-weight: 700;
  padding: 10px 24px;
  text-align: center;
  text-transform: uppercase
}