@import "../../../public/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;


    .list {
      //height: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}