@import "../../../public/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;

    .list {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}