.card {
    background-color: transparent;
    width: 150px;
    height: 200px;
    border-radius: 7px;
    margin: 15px 10px;
    perspective: 1000px;
  }

  img {
    width: 144px;
    height: 150px;
    padding: 0px;
    margin: 3px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    z-index: 0;
  }
    
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: whitesmoke;
    z-index: 0;
}

  
  .card-back {
    transform: rotateY(180deg);
  }

  .card-date {
    background-color: dodgerblue;
    color: white;
    border: 2px ridge goldenrod;
    border-radius: 12px;
    bottom: 62px;
    left: calc(71px - 23px);
    position: absolute;
    height: fit-content;
    width: 50px; 
    min-width: fit-content;
    &.wrong{
      background-color: red;
    }
  }

  .card-text {
    border: 2px ridge goldenrod;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: bisque;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    height: 60px;
    bottom: 0;
    margin: 3px;
    padding: 5px;
  }
  
.flipped {
    transform: rotateY(180deg);
}

.wrong-effect {
  transform: rotateY(180deg) rotateZ(-10deg) translate(50px, 50px);
  position: relative;
  z-index: 1;
}
  