p {
    margin: 0px;
}

.lifes-ctn{
  margin: 20px 0;
  height: 100%;
}

.square-ctn {
  transform: scale(0.5);
}

.square-ctn:hover {
  transition-duration: 0.5s;
  transform: scale(0.8);
}

@media screen and (max-width: 600px) {
  .square-ctn {
    transform: scale(0.4);
  }

  .square-ctn:hover {
    transition-duration: 0.5s;
    transform: scale(0.7);
  }
}

.square{
    aspect-ratio: 0.75;
    height: 120px;
    max-height: 20vw;
    border: 1px dashed red;
    margin: 0px 10px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}