
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
  font-size: 14px;
  background: rgba(152, 172, 232, 0.5);
}

body {
  width: 100%;
  height: 100%;
}

body {
  overscroll-behavior-y: contain;
}

* {
  box-sizing: border-box;
}

.app-ctn{
  text-align: center;
}

.lifes-ctn{
  margin-top: 20px;
  height: 10vh;
}

.board-ctn{
  height: 80vh;
}

